<div class="container my-3">
  <div class="row">
    <div class="col-8">
      <h3 class="my-3 text-center">イベント一覧</h3>
      <%= month_calendar events:@events do |date, events| %>
        <%= date.day %>
        <% events.each do |event| %>
        <div>
          <%= link_to event.event_name, event_path(event.id) %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-4 my-3  border">
      <h3 class="my-3 text-center">新規イベント</h3>
      <%= form_with model:@event, url: events_path, local:true do |f| %>
        <div class="form-group">
          <%= f.label :年月日 %>
          <%= f.date_field :event_date, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :時間 %>
          <%= f.time_field :event_time, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :イベント名 %>
          <%= f.text_field :event_name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :イベント内容 %>
          <%= f.text_area :event_content, class: 'form-control' %>
        </div>

          <div class="form-group relationship_genres-field">
            <%= f.label "タグ" %>
            <div class='btn-toolbar' role="toolbar">
              <%= f.hidden_field :tag_ids, value: "", id: "form_tags" %>
                <% @tags.each_with_index do |tag, index| %>
                  <div class="tags_data">
                    <button type="button" value=<%= index %> class="btn btn-success mx-1" id="btn_relationship_genres_<%= index+1 %>">
                      <%= tag.tag_name %>
                    </button>
                  </div>
                <% end %>
            </div>
          </div>





        <!--< % @tags.each do |tag| %>-->
        <!--<div>-->
        <!--    < %= f.button tag.tag_name, :relationship_tag_id %>-->
        <!--</div>-->
        <!--< % end %>-->
        <div class="text-center">
          <%= f.submit "新規イベント登録", class: 'my-3 btn btn-secondary btn-block' %>
          <% end %>
        </div>
    </div>

  </div>
</div>

<script>
  $('.tags_data').each(function(index) {
    const tag_id = '#btn_relationship_genres_' + (index+1)
    // クリックしたら色が変わる
    $(tag_id).on('click',function(){
      // リセット
      const tags = [];
      $(this).toggleClass('btn-dark');
      // 色が変わったデータを読み取る
      $('.btn-dark').each(function(i) {
        var num = this.value
        // pushでデータの中身を送る
        tags.push(gon.tags[num].id);
      })
      $('#form_tags').val(tags)
    });
  });
</script>
