<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="col-12 mt-4">
        <div class="row">
          <div class="col-2">
            <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100", class: "rounded-circle"  %>
          </div>

          <div class="col-10">
            <h5><%= @user.name %></h5>
            フォロー
            <%= link_to user_followings_path(@user) do %>
              <%= @user.followings.count %>
            <% end %>

            フォロワー
            <%= link_to user_followers_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
            <!--フォロー機能-->
          <!--<div>-->
            <% unless @user == current_user %>
              <% if current_user.following?(@user) %>
              <!--destroyされていない-->
                <%= link_to "フォローを外す", user_relationship_users_path(@user.id), class:'btn btn-sm btn-info', method: :delete %>
              <% else %>
                <%= link_to "フォローする", user_relationship_users_path(@user.id), class:'btn btn-sm btn-success',method: :post %>
              <% end %>
            <% end %>
          <!--</div>-->
          
            </br>
            <%= @user.introduction %>
              <div>
                <% unless @user != current_user %>
                  <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary" do %>
                    <i class="fas fa-user-cog">プロフィール編集</i>
                  <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <h3 class="my-3">参加イベント一覧</h3>
      <%#= month_calendar events: @user_events, events: @user_relationship_events do |date, event| %>
      <%= month_calendar events: @user_events do |date, event| %>
        <%= date.day %>
        <% event.each do |event| %>
        <div>
          <% if event.user == @user %>
            <%= link_to event.event_name, event_path(event.id), class: 'btn btn-sm btn-block btn-outline-info' %>
          <% else %>
            <%= link_to event.event_name, event_path(event.id), class: 'btn btn-sm btn-block btn-outline-dark' %>
          <% end %>
        </div>
        <% end %>

      <% end %>
    </div>
  </div>
</div>