<!DOCTYPE html>
<html>
  <head>
    <title>Oshisuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="wrapper">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
          <div class="container">
            <a class="navbar-brand p-1" href="/"><%= image_tag 'logo1.png', :size => '195x60' %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <li class="button_header"><%= link_to "マイページ", user_path(current_user), class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "イベントページ", events_path, class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "お問い合わせ", new_contact_path, class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link active' %></li>
                <% elsif admin_signed_in? %>
                  <li class="button_header"><%= link_to "お問合わせ一覧", admin_contacts_path, class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "イベント一覧", admin_events_path, class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "タグ一覧", admin_tags_path, class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link active' %></li>
                <% else %>
                  <li class="button_header"><%= link_to "Attention", attention_path, class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link active' %></li>
                  <li class="button_header"><%= link_to "ログイン", new_user_session_path, class: 'nav-link active' %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <% if user_signed_in? || admin_signed_in? %>
          <div class="search-form">
            <%= form_with url: search_path, method: :get, local:true do |f| %>
              <%= f.text_field :keyword, type: "text", id: "search-text", placeholder:"　検索" %>
              <%= f.button  type:"submit", class:"btn btn-default btn-s-md" do %>
                <i class="fas fa-search fa-lg"></i>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </nav>
      </header>
      <%= include_gon %>
      <%= javascript_include_tag "application" %>
      <%= yield %>
      <footer class=" footer mt-5">
        <p class="text-white text-center pt-3">©推しスケ!</p>
      </footer>
    </div>
  </body>
</html>
